body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 24px;
    font-weight: 700;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 48px;
    
}

.header-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}

.logo {
    margin-right: auto;
}

.header-links a{
    font-size: 18px;
    font-weight: 300;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    padding-left: 72px;
    padding-right: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding-bottom: 36px;

}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
    padding-top: 8px;
    padding-bottom: 8px;
}

.hero-left > button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    font-size: 18px;
    border: none;
    align-self: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
    border-radius: 12px;
}

.info-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px;
    gap: 48px;
}

.information-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info-squares {
    display: flex;
    font-size: 18px;
    color: #1F2937;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.info-square {
    display: table;
}

.info-square img {
    border: 5px solid #3882F6;
    border-radius: 16px;
}

.info-square figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    padding-top: 8px;
}

.quote {
    background-color: #E5E7EB;
    padding: 172px;
    display: flex;
    flex-direction: column;
}

blockquote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.quote p {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    align-self: flex-end;
}

